* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: rgb(25, 98, 101);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.circle-1 {
  background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ea8bfa 0%,
    #7526f5 100%
  );
  height: 120px;
  width: 120px;
  border-radius: 100%;
  top: -60px;
  left: -80px;
}
.circle-2 {
  background-image: radial-gradient(
    63.76% 63.76% at 50% 50%,
    #ff00c7 0%,
    #e9c6e9 100%
  );
  height: 320px;
  width: 320px;
  border-radius: 100%;

  right: -110px;
  bottom: 140px;
}
.circle-3 {
  background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ab6db6 0%,
    #7126e9 100%
  );
  height: 120px;
  width: 120px;
  border-radius: 100%;

  bottom: -50px;
  left: -30px;
}

.circle {
  position: absolute;
}

.cart-container {
  position: relative;
}
.cart {
  width: 350px;
  height: 500px;
  background-color: white;

  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
}

.cart-img .img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
}

.title-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(25, 98, 101);
  background-color: aliceblue;
  padding: 10px;
}
.card-para p {
  color: rgb(25, 98, 101);
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price span {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 1px;
}
button:hover {
  font-size: 20px;
  transition: all;
}

.star {
  padding: 10px;
  margin: 5px;
}
